.preDoughConfiguration input:disabled {
  background-color: var(--light);
  border-color: var(--primaryColor);
  color: var(--primaryColor);
}

.percentageLabel {
  margin-left: 0.2rem;
}

.switch {
  margin-right: 0.5rem;
  --switchWidth: 3rem;
  --colorOffState: var(--light);
  /* --colorOnState: var(--secondaryColor); */
  --colorOnState: var(--accentColor);
}
