.preDoughConfiguration input {
  width: 3rem;
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  font-weight: 600;
}

.preDoughConfiguration input:disabled {
  background-color: var(--light);
  border-color: var(--primaryColor);
  color: var(--primaryColor);
}

.percentageLabel {
  margin-left: 0.2rem;
}
