.resultParameter {
  display: flex;
  flex-direction: row;
}

.resultParameterValue {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 3rem;
}

.resultParameterItem {
  display: flex;
  flex-direction: row;
  width: 5rem;
}

.resultParameterUnit {
  margin-left: 0.25rem;
}
