.ingredientListHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.headerToggleButton {
  width: 8rem;
  color: white;
  border-color: var(--accentColorOpacity50);
}

.headerToggleButtonSelected {
  background-color: var(--accentColor);
}

.headerToggleButtonUnselected {
  background-color: var(--accentColorOpacity50);
}

.headerToggleButtonDisabled{
  color: rgb(131, 131, 131);
  background-color: var(--accentColorOpacity50);
}

.headerToggleButtonLeft {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.headerToggleButtonRight {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}