.ingredientListHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.headerToggleButton {
  width: 8rem;
  color: var(--primary_100);
  border-color: var(--primary_300);
}

.headerToggleButtonSelected {
  background-color: var(--primary_500);
}

.headerToggleButtonUnselected {
  background-color: var(--neutral_200);
}

.headerToggleButtonDisabled{
  color: var(--neutral_100);
  background-color: var(--neutral_200);
}

.headerToggleButtonLeft {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.headerToggleButtonRight {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}