.ingredientListHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.toggleButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.headerToggleButton {
  color: var(--primary_100);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.5rem 1rem;
}

.headerToggleButtonSelected {
  background-color: var(--primary_500);
  padding: 0.5rem 2.5rem;
}

.headerToggleButtonUnselected {
  background-color: var(--neutral_200);
}

.headerToggleButtonDisabled {
  color: var(--neutral_100);
  background-color: var(--neutral_200);
}
