.valueContainer {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.value {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  font-size: 1.2rem;
  outline: none;
}

.unit{
  color: var(--secondaryColor);
  font-weight: 600;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.slider {
  accent-color: var(--accentColor);
  width: 100%;
}

.button {
  width: 4rem;
  height: 2rem;
}


