.toggleButton{
    border: 1px solid var(--primaryColor);
    color: var(--secondaryColor);
    font-size: large;
    padding: 0.5rem 1rem;
}

.toggleButtonSelected {
    background-color: var(--light);
}

.toggleButtonUnselected {
    background-color: white;
}
