.toggleButton {
  font-size: medium;
  font-weight: 600;
  padding: 0.25rem 1rem;
}

.toggleButton:hover {
  cursor: pointer;
}

.toggleButtonSelected {
  background-color: var(--primary_500);
  color: var(--primary_100);
  border: 1px solid var(--primary_500);
}

.toggleButtonUnselected {
  background-color: var(--neutral_200);
  color: var(--neutral_100);
  border: 1px solid var(--neutral_500);
}

.toggleButtonGroupDisabled {
  color: var(--neutral_200);
  border: 1px solid var(--neutral_200);
}

.toggleButtonRemoveBorderLeft {
  border-left: none;
}

.toggleButtonRemoveBorderRight {
  border-right: none;
}
