.toggleButton {
  border: 1px solid var(--primaryColor);
  font-size: medium;
  font-weight: 600;
  padding: 0.25rem 1rem;
}

.toggleButton:hover {
  cursor: pointer;
}

.toggleButtonSelected {
  background-color: var(--light);
  color: var(--secondaryColor);
}

.toggleButtonUnselected {
  background-color: white;
  color: var(--secondaryColor);
}
