.configurationInputItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  border: 1px solid var(--primaryColor);
  padding: 0.5rem;
  margin: 0;
}

.configurationItem {
  display: flex;
  font-weight: 500;
}

.input {
  width: 4rem;
  /* border: 1px solid var(--secondaryColor); */
  border: 0;
  border-top: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  color: var(--secondaryColor);
  font-size: 1.2rem;
  outline: none;
  text-align: center;
}

.input:focus-visible {
  outline-color: var(--primaryColor);
}

.unit {
  display: inline-block;
  margin-left: 0.2rem;
  width: 1rem;
}

.buttonLeft {
  border-right: 0;
}

.buttonRight {
  border-left: 0;
}
