.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modalBackdrop {
  position: relative;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
}

.modalDialog {
  position: absolute;
  top: 20%;
  margin-left: 50%;
  transform: translate(-50%);
}

.modalDialogHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
  color: var(--secondaryColor);
}

.modalDialogMain {
  margin: 1rem;
}

.modalDialogFooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: var(--lighter);
  border-top: 1px solid var(--secondaryColor);
  padding: 0.5rem;
  column-gap: 0.5rem;
}

.okayButton {
  background-color: var(--light);
  width: 4rem;
}
